<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LibertyV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LibertyV.Properties.Settings>
            <setting name="ExportResourcesChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Xbox360KeyFile" serializeAs="String">
                <value>key_xbox360.dat</value>
            </setting>
            <setting name="PS3KeyFile" serializeAs="String">
                <value>key_ps3.dat</value>
            </setting>
            <setting name="Xbox360KeyFileEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PS3KeyFileEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </LibertyV.Properties.Settings>
    </userSettings>
</configuration>